.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    background: #F0F0F0;
    z-index: 1001;
}

@keyframes preloader-bounce {
    0%{
    transform: translateX(-120%);
    }

    100% {
        transform: translateX(120%);
    }
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}
