.preloader__item {
    background-color:#1E1E1E;
    width: 300px;
    height: 1px;
    animation: preloader-bounce 4s linear infinite;
}

@keyframes preloader-bounce {
    0%{
    transform: translateX(-120%);
    }

    100% {
        transform: translateX(120%);
    }
}